*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Ubuntu", sans-serif;
}
/* font-family: 'Montserrat', sans-serif; */

body {
  background-color: #00abb3;
  margin: 0 auto;
  min-height: 100vh;
}

a {
  color: #eaeaea;
  font-size: x-large;
  margin: 0 2rem;
}

nav {
  display: flex;
  justify-content: center;
}

* {
  /* color: #3c4048; */
}
