h1 {
  text-align: center;
}

p {
  line-height: 1.5rem;
}

section {
  min-height: 300px;
}

.home-section {
  color: #eef2e6;
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto 2%;
}

.home-intro {
  width: 25%;
}

.home-details {
  display: flex;
  background-color: #eef2e6;
  justify-content: space-around;
  padding: 4%;
}

.details-frontend {
  width: 30%;
}

.home-contact {
  color: #eef2e6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1000px) {
  .home-section,
  .home-details {
    display: block;
  }
  .home-intro,
  .details-frontend {
    width: 100%;
  }
}
