button {
  background-color: #42855b;
  color: #fff;
}
.modal {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(213, 218, 212, 0.9);
}

.modalContainer {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 800px;
  border-radius: 10px;
  padding: 1% 2%;
  border-style: solid;
  border-color: #3d8361;
}

.modalCloseBtn {
  background-color: transparent;
  border: none;
  color: black;
  text-align: end;
}

.modalTitle {
  text-align: center;
}

.modalContent {
  text-align: center;
  background-color: #c3ff99;
  border-radius: 10px;
  height: 60%;
  margin-bottom: 3%;
  padding: 2px;
}
