nav {
  margin: 0 auto 2%;
  padding: 1% 0;
  justify-content: center;
}

nav a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.active-link {
  text-decoration: underline;
  font-weight: bolder;
}
