.tableClass {
  background-color: #eaeaea;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
  font-size: larger;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

tbody {
  padding: 1% 2%;
}

tbody td {
  text-align: center;
  border: solid thin lightgray;
  padding: 0.5% 1%;
}

tbody tr th {
  border: solid thin lightgray;
}
