.tableClass {
  background-color: #eaeaea;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
  font-size: larger;
}

tbody {
  padding: 1% 2%;
}

tbody td {
  text-align: center;
  border: solid thin lightgray;
  padding: 0.5% 1%;
}

tbody tr th {
  border: solid thin lightgray;
}
