body {
  background-color: #c3ff99;
  margin: 0 auto;
  padding: 25px;
}

a {
  color: green;
  font-size: x-large;
  margin: 0 2rem;
}

nav {
  display: flex;
  justify-content: center;
}
.access-div {
  background-color: #f9f9f9;
  border-radius: 25px;
  margin: 10% auto;
  max-width: 25%;
  min-width: 25%;
  padding: 3% 2%;
}

.access-div h2 {
  margin: 5px auto;
  padding-bottom: 30px;
  text-align: center;
}

.access-div form input {
  display: block;
  background-color: #f9f9f9;
  border-radius: 5px;
  font-size: 20px;
  width: 90%;
  height: 20px;
  padding: 10px;
  margin: 30px auto;
}
.access-div form button {
  display: block;
  background-color: #42855b;
  border-radius: 5px;
  color: #f9f9f9;
  width: 50%;
  height: 40px;
  font-size: large;
  margin: 20px auto;
}
